section {
  padding: 4rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex-basis: 50%;
}
section .section-text {
  text-align: center;
  width: 100%;
}
section .section-img {
  display: flex;
  justify-content: center;
  width: 100%;
}
section .section-img img {
  box-shadow: var(--default-box-shadow);
  border-radius: 2.5rem;
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}
section h2 {
  margin-bottom: 0.75rem;
  font-family: var(--font-akira-expanded);
  font-size: 1.5rem;
}
section:last-child {
  padding-bottom: 4rem;
}
.order-1 {
  order: 0;
}
@media (min-width: 700px) {
  section {
    padding: 4rem 0rem;
    flex-direction: row;
  }
  section .section-text {
    text-align: left;
  }
  .section-text {
    font-size: 1.2rem;
  }
  section .section-text h2 {
    font-size: 1.5rem;
  }
  .order-1 .section-img {
    justify-content: left;
  }
  section .section-img {
    justify-content: right;
  }
  .order-1 .section-text {
    text-align: right;
  }
  .order-1 .section-img {
    order: -1;
  }
}
